# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# Models
models/*.pkl

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment variables
.env

# Logs
*.log